/*Acontinuación estan los estilos para todos los formularios de las páginas*/
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  input, select{
    color: #212121;
    border: 1px solid #212121;
    border-radius: 0;
    padding: 12px 16px;
    min-height: 51px;
    margin-bottom: 20px;
    min-width: 30vw;
  }
  label{
    min-width: 30vw;
  }
  input:focus, select:focus{
    color: #111;
    outline: none;
    -webkit-box-shadow: 0 0 0 1px;
    box-shadow: 0 0 0 1px;
  }
  /* clase para etiqueta padre del form*/
  .flex-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /*Estilos para label*/

  .label{
    font-family: Inter,sans-serif; 
    font-size: 16px;  
  }

  /*------------*/

  /*Estilos botones de página login*/

  .caja-botones{
    display: flex;
    flex-direction: column; 
    min-width: 30vw; 
  }
  .button-gmail{
    margin-bottom: 25px;
  }
  .registro{
    text-align: center;
  }

  
  