  .PosButtonL{
    display: flex;
    justify-content: flex-end;
   }
   .PosButtonN{
    display: flex;
    justify-content: flex-end;
   }
   .PosButtonCrud{
    display: flex;
    justify-content: space-evenly;
   }
    .centrardiv{
      margin:auto
    }
    .posBuscar{
      display: flex;
      /* flex-direction:row;   */
      align-items: flex-start; 
    }
  /*Acontinuación estan los estilos para todos los formularios de las páginas*/
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputProd{
  
  color: #212121;
  border: 1px solid #212121;
  border-radius: 0;
  padding: 12px 6px;
  min-height: 5px;
  margin-bottom: 0px;
  min-width: 5vw;
  font-size: 20px;
}
label{
  min-width: 30vw;
}
input:focus, select:focus{
  color: #111;
  outline: none;
  -webkit-box-shadow: 0 0 0 1px;
  box-shadow: 0 0 0 1px;
}
/* clase para etiqueta padre del form*/
.flex-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/*Estilos para label*/

.label{
  font-family: Inter,sans-serif; 
  font-size: 16px;  
}

/*------------*/

/*Estilos botones de página login*/

.caja-botones{
  display: flex;
  flex-direction: column; 
  min-width: 30vw; 
}
.button-gmail{
  margin-bottom: 25px;
}
h2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

