  .PosButtonL{
    display: flex;
    justify-content: flex-end;
   }
   .PosButtonN{
    display: flex;
    justify-content: flex-end;
   }
   .PosButtonCrud{
    display: flex;
    justify-content: space-evenly;
   }
    .centrardiv{
      margin:auto
    }
    .posBuscar{
      display: flex;
      /* flex-direction:row;   */
      align-items: flex-start; 
    }

.inputProd{
  
  color: #212121;
  border: 1px solid #212121;
  border-radius: 0;
  padding: 12px 6px;
  min-height: 5px;
  margin-bottom: 0px;
  min-width: 5vw;
  font-size: 20px;
}
#transactionTable{
  margin: 50px 0;
}
.listar{
  margin: 50px 0;
}
.button{
  text-align: center;
}