#transactionTable{
  margin: 50px 0;
}
.listar{
  margin: 50px 0;
}
.button{
  text-align: center;
}
.PosButtonCrud{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.inputProd{
  min-width: 0;
  min-height: 15px;
  width: 150px;
  height:40px;
  margin: 0;
}
input.inputProd[type='checkbox'] { width: 20px; }
